Stats406/HW/HW3/CollegeScorecard_Raw_Data.zip
Stats406/HW/HW3/MERGED2009_10_PP.csv
Stats406/HW/HW3/MERGED2013_14_PP.csv
Stats406/HW/HW3/MERGED2014_15_PP.csv
Stats406/HW/HW3/consumer_complaints.txt
Stats406/HW/HW5/AviationData.xml
